
@font-face {
  font-family: "NotoSansDisplay";
  src: url("../fonts/NotoSansDisplay-Medium.ttf") format(truetype);
  font-weight: 500;
  font-style: medium;
} 

/* текст увеличивающийся в рамочке при наведении */

.word, .twotext{
   font-family: "NotoSansDisplay";
}

.word{
  font-size: 5vw;
} 

.twotext{
letter-spacing: 2;
position: absolute;
width: 36%;
height: 14%;
font-size: 2vw;
line-height:140%;
color: #C9BFB4;
z-index: 14;
margin-top: 10%;
margin-left: 10%  ;
transition: all .5s ease-out;
}

.twotext:hover {
  scale: 1.2;
  transition: all .5s ease-out;
}

@font-face {
  font-family: "NotoSansDisplay";
  src: url("../fonts/NotoSansDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.track2 .word, .track3 .word {
  font-family: "NotoSansDisplay", sans-serif;
}